*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.note-container{
    background: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
.note-container h1{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
}
#notebook {
    overflow: hidden;
    /*width: 100%;
    height: 100%;*/
    width: 800px;
    height: 500px;
    padding: 20px;
    padding-top: 25px;
    font-size: 1.1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    resize: none;
    outline: none;
    background: #fdfdfd;

    /* soft inner shadow */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);

    transition: 0.3s;
    line-height: 27px;
    border: 2px solid #ccc;
    resize: none;
    outline: none;
    background-image: repeating-linear-gradient(
        white 0px,
        white 26px,
        #c7d2fe 27px
    );
}

/* Focus effect */
#notebook:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.4);
}