*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.note-container{
    background: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
.note-container h1{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
}
.tab-note{
    overflow: hidden;
    background-color: #0d0c0c;
    height: 50px;
    display: flex;
}
.add-note{
    text-align: right;
    margin-bottom: 10px;
}
.add-note i{
    border-left: solid 1px #858585;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
    padding: 8px;
    color: white;
}
.note-tabs{
    height: 100%;
    display: flex;
    margin-bottom: 15px;
}
.note-tabs i{
    color: #ddd;
    font-size: 0.8rem;
}
.tab-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    border: none;
    color: white;
    background: #0d0c0c;
    cursor: pointer;
}
.tab-btn.active{
    background: #515254;
    color: white;
}
/* CLOSE (X) ICON */
.close-tab {
    font-size: 0.5rem;
    color: #ccc;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: auto;
}

.close-tab:hover {
    background: #0d0c0c;
    color: white;
}
/* NOTEBOOK STYLE */

.note-area {
    overflow: hidden;
    width: 800px;
    height: 500px;
    padding: 20px;
    padding-top: 25px;
    font-size: 1.1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    resize: none;
    outline: none;
    background: #fdfdfd;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    transition: 0.3s;
    line-height: 27px;
    border: 2px solid #ccc;
    resize: none;
    outline: none;
    background-image: repeating-linear-gradient(
        white 0px,
        white 26px,
        #c7d2fe 27px
    );
}


.note-area:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.4);
}

.tab{
    overflow: hidden;
    background-color: #515254;
    height: 50px;
    display: flex;
}
.menu{
    float: left;
    overflow: hidden;
    
}
.menu .menu-btn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
    cursor: pointer;
}
.menu:hover, .menubtn{
    background-color: #595a5c;
}
.menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu-content:hover .menu-btn{
    background-color: #595a5c;
}
.menu-content a:hover{
    background-color: #595a5c;
}
.menu-content.show{
    display: block;
}